<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Courses", courses_path %></li>
    <li class="breadcrumb-item"><%= link_to @course.title, course_path(@course) %></li>
    <li class="breadcrumb-item active" aria-current="page">Assignments</li>
  </ol>
</nav>

<p style="color: green"><%= notice %></p>

<h1><%= @course.title %> - Assignments</h1>

<div id="assignments">
  <% @assignments.each do |assignment| %>
    <%= render assignment %>
    <p>
      <%= link_to "Show this assignment", course_assignment_path(@course, assignment) %>
    </p>
  <% end %>
</div>

<%= link_to "New assignment", new_course_assignment_path(@course) %>
