<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Courses", courses_path %></li>
    <li class="breadcrumb-item"><%= link_to @course.title, course_path(@course) %></li>
    <li class="breadcrumb-item"><%= link_to "Assignments", course_assignments_path(@course) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @assignment.name %></li>
  </ol>
</nav>

<p style="color: green"><%= notice %></p>

<%= render @assignment %>

<div>
  <%= link_to "Edit this assignment", edit_course_assignment_path(@course, @assignment) %> |
  <%= link_to "Back to assignments", course_assignments_path(@course) %>

  <%= button_to "Destroy this assignment", course_assignment_path(@course, @assignment), method: :delete %>
</div>
