<div id="<%= dom_id course %>">
  <p>
    <strong>Title:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Sensei:</strong>
    <%= course.sensei.last_name %>
  </p>

  <p>
    <strong>Students:</strong>
    <ul>
      <% course.students.each do |student| %>
        <li><%= link_to student.full_name, student_path(student) %></li>
      <% end %>
    </ul>
  </p>

</div>
